@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;
    background: var(--checkout-detail-bg);
    padding-bottom: 40px;
}

.checkout-breadcrumbs {
    background: var(--checkout-cart-bg);
}

.checkout-container {
    margin-top: 30px;
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-cart-bg);
    box-shadow: var(--checkout-cart-shadow);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    + .cart-info {
        margin-top: 30px;
    }

    &__sub-heading {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        margin: 30px 0;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 141.667%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__separate {
        height: 1px;
        width: 100%;
        background: var(--shipping-separate);
        margin: 30px 0;

        @include abstracts.screen(md) {
            margin: 16px 0;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        &-left {
            margin-top: 30px;
            display: flex;
            align-self: flex-end;
        }

        &-right {
            width: 287px;
        }

        &-link {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include abstracts.screen(md) {
                flex-direction: column;
                gap: 16px;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &--strong {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;
        }
    }

    &__value {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &--strong {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 145.455%;
        }
    }

    &__row-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__sub-label {
        font-weight: 500;
    }
    &__sub-value {
        font-weight: 500;
    }

    &__sub-wrap {
        display: flex;
        flex-direction: column;
        gap: 14px;

        @include abstracts.screen(md) {
            gap: 12px;
        }
    }

    &__btn {
        height: 50px;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        margin-top: 20px;

        @include abstracts.screen(md) {
            margin-top: 16px;
            height: 50px;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__sub-separate {
        height: 1px;
        width: 100%;
        background-color: var(--checkout-separate);
    }
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 30px;

    @include abstracts.screen(md) {
        align-items: start;
        gap: 16px;
    }
    &__thumb {
        width: 175px;
        height: 172px;
        object-fit: contain;

        @include abstracts.screen(xl) {
            width: 120px;
            height: 120px;
        }
        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 16px;
        }

        &-left {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            @include abstracts.screen(md) {
                align-items: flex-start;
            }
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }
    }

    &__price-wrap {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67b044;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__input-wrap {
        display: flex;
        gap: 20px;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }
    }

    &__input {
        padding: 0 20px;
        height: 44px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--checkout-input-border);

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__value {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 144.444%;
        }
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 30px;
        min-height: 44px;

        @include abstracts.screen(md) {
            margin-top: 6px;
        }
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #9e9da8;
        font-weight: 500;
        line-height: 150%;
    }

    &__btn {
        display: flex;
    }

    &__cta {
        margin-top: 16px;
        height: 50px;
        padding: 0 40px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 145.455%;

        &-all {
            margin-top: 0;

            @include abstracts.screen(md) {
                width: 100%;
            }
        }
    }
}

.cart-separate {
    height: 1px;
    width: 100%;
    background: var(--checkout-separate);
    margin: 30px 0;

    @include abstracts.screen(md) {
        &:last-child {
            display: none;
        }
    }
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    @include abstracts.screen(md) {
        gap: 16px;
    }

    &__img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 76px;
        height: 76px;
        border-radius: 14px;
        background: var(--checkout-gift-bg);
    }

    &__img {
        width: 56px;
        height: 56px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 142.857%;
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__btn {
        padding: 10px 20px;
    }
}

.address-card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include abstracts.screen(md) {
        flex-direction: column;
        gap: 16px;
    }
    &__info {
        margin-left: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        line-height: 146.667%;
        width: min(520px, 90%);

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__list {
        margin-top: 20px;
        display: flex;
        gap: 30px;
        list-style: disc inside;

        @include abstracts.screen(md) {
            gap: 16px;
        }
    }

    &__item {
        font-size: 14px;
        line-height: 142.857%;
        margin-left: 8px;
    }

    &__right {
        display: flex;
        align-self: flex-end;

        @include abstracts.screen(md) {
            align-self: flex-start;
        }
    }
    &__left {
        display: flex;
    }

    &__edit {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        line-height: 144.444%;
    }

    &__input {
        appearance: none;
        display: flex;
        align-self: flex-start;
        &::before {
            content: url("../icons/checkbox.svg");
        }
        &:not(:checked)::before {
            filter: var(--shipping-checkbox);
        }

        &:checked::before {
            content: url("../icons/checkbox-checked.svg");
        }
        &:checked + .payment-card__value {
            color: var(--text-color);
        }
    }
}
