@use "../abstracts";

.product-page {
    display: flex;
    flex-direction: column;
    background: var(--product-detail-bg);
    padding-bottom: 40px;
}

.product-container {
    margin-top: 30px;

    &-preview {
        @include abstracts.screen(md) {
            background-color: var(--product-info-bg);
            border-radius: 10px;
        }
    }
}

.prod-preview {
    @include abstracts.screen(lg) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.prod-list {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.prod-item {
    width: 100%;
    flex-shrink: 0;
    padding-top: 92%;
    position: relative;

    &-img {
        padding: 20px;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }
}

.prod-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

    @include abstracts.screen(lg) {
        flex-direction: column;
    }

    &__img {
        width: 65px;
        height: 65px;
        object-fit: contain;
        border: 2px solid var(--product-border-img);
        border-radius: 12px;
        &:not(&--current):hover {
            border-color: var(--product-border-img-hover);
        }

        &--current {
            border: 2px solid var(--product-border-img-active);
        }
    }
}

.prod-info {
    border-radius: 10px;
    background-color: var(--product-info-bg);
    padding: 60px;

    @include abstracts.screen(xxl) {
        padding: 40px;
    }

    @include abstracts.screen(lg) {
        margin-top: 30px;
    }
    @include abstracts.screen(md) {
        padding-top: 0;
        margin-top: 16px;
    }

    &__heading {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 138.462%;
    }

    &__label {
        margin-top: 30px;
        display: block;
    }

    &__tag {
        background: var(--product-info-tag);
    }
}

.prod-props {
    margin-left: 30px;

    @include abstracts.screen(xxl) {
        margin-left: 20px;
    }
    @include abstracts.screen(lg) {
        margin-left: 0px;
    }
}

.prod-prop {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 16px;

    @include abstracts.screen(lg) {
        margin-top: 20px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        font-size: 1.4rem;
        line-height: 142.857%;
        margin-top: 4px;
    }

    &__icon {
        align-self: flex-start;
    }
}

.prod-card {
    flex: 1;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid var(--product-info-cart-border);
    @include abstracts.screen(lg) {
        --grid-gutter-x: 15px;
    }

    &__row {
        display: flex;
        gap: 10px;
    }

    &__price {
        font-weight: 500;
        line-height: 150%;
        color: var(--product-info-cart-text);
    }

    &__tax {
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #67b044;
        background: var(--product-info-tax-bg);
        padding: 2px 8px;
    }

    &__price-total {
        display: block;
        margin-top: 20px;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 138.462%;
        color: var(--product-info-cart-text);
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
    }

    &__submit {
        flex: 1;
        padding: 8px 20px;
        white-space: nowrap;
        height: 46px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__btn {
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        background: transparent;
    }
}

.product-list {
    display: flex;
    margin: 0 -30px;

    @include abstracts.screen(md) {
        margin: 0 -10px;
    }
}

.product-item {
    color: #9e9da8;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
    padding: 8px 30px;

    @include abstracts.screen(md) {
        font-size: 1.4rem;
        line-height: 142.857%;
        padding: 8px 10px;
    }

    &--current {
        color: var(--text-color);
    }
}

.product-contents {
    margin-top: 22px;
    display: flex;
}

.product-content {
    display: none;

    &--current {
        display: block;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
        margin-bottom: 30px;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }
}

.review-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    padding: 30px;
    background: var(--product-review-card-bg);

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        @include abstracts.screen(xl) {
            text-align: center;
            flex-direction: column;
        }
        @include abstracts.screen(md) {
            text-align: start;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        white-space: nowrap;
    }

    &__stars {
        display: flex;
        gap: 8px;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;

        @include abstracts.screen(xl) {
            flex-direction: column;
            row-gap: 10px;
        }
        @include abstracts.screen(md) {
            flex-direction: row;
        }

        &-title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }
}
