@use "../abstracts";
html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7489%) hue-rotate(188deg)
        brightness(100%) contrast(103%);

    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-shadow-avatar: rgba(0, 0, 0, 0.08);
    --top-act-group-separate: #ededf6;

    --dropdown-bg-color: #333a48;
    --dropdown-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(9%) saturate(1714%) hue-rotate(182deg)
        brightness(91%) contrast(81%);

    --top-menu-main-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg)
        brightness(103%) contrast(101%);

    //category-item
    --cate-item-title-color: #fff;
    --cate-item-bg: #171c28;
    --cate-item-bg-thumb: #2a2f3a;

    // sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    //product-card
    --product-card-bg: #171c28;
    --product-card-bg-icon: #292e39;
    --product-card-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    --product-card-filter-color: #fff;
    --product-card-bg-filter-color: #171c28;

    //filter
    --filter-bg: #292e39;
    --filter-shadow: 0px 40px 90px rgba(0, 0, 0, 0.4);
    --filer-tag-bg-color: #171c28;
    --filter-arrow-color: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(1936%) hue-rotate(183deg)
        brightness(93%) contrast(85%);

    //footer
    --footer-bg-color: #171c28;

    //auth
    --auth-intro-bg: #171c28;
    --auth-content-bg: #292e39;
    --auth-intro-text: #b9babe;
    --auth-content-text: #b9babe;
    --auth-input-border-color: #b9babe;
    --auth-btn-color: #b9babe;
    --auth-icon-gg-color: brightness(0) saturate(100%) invert(84%) sepia(8%) saturate(101%) hue-rotate(191deg)
        brightness(90%) contrast(85%);

    //product-detail
    --product-detail-bg: #292e38;
    --product-detail-breadcrumbs-bg: #171c28;
    --product-detail-breadcrumbs-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);

    --product-border-img-active: #eee;
    --product-border-img: #555;
    --product-border-img-hover: #9e9da8;

    --product-info-bg: #171c28;
    --product-info-tag: #292e39;
    --product-info-cart-border: #b9babe;
    --product-info-cart-text: #eee;
    --product-info-tax-bg: rgba(103, 176, 68, 0.2);
    --product-review-card-bg: #171c28;

    // act-dropdown
    --act-dropdown-inner-bg: #292e39;
    --act-dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
    --act-dropdown-separate: #171c28;

    --cart-preview-bg-img: #171c28;

    //checkout
    --checkout-detail-bg: #292e38;
    --checkout-input-border: #292e39;
    --checkout-separate: #292e39;
    --checkout-cart-bg: #171c28;
    --checkout-cart-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
    --checkout-gift-bg: #292e39;

    @include abstracts.screen(lg) {
        --header-shadow: rgba(0, 0, 0, 0.2);
    }
}
