@use "../abstracts";

%flex-align-center {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);
    @include abstracts.breakpoint(md) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow);
    }
}

.top-bar {
    padding: 30px 0;
    position: relative;
    @extend %flex-align-center;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }
    @include abstracts.breakpoint(md) {
        padding: 16px 0;
        justify-content: space-between;
    }
    &__more {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            margin-top: 3px;
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 29px;
    }
    @include abstracts.breakpoint(lg) {
        z-index: 9;
        position: fixed;
        inset: 0 50% 0 0;

        padding: 40px 0;
        background: #fff;
        margin-left: 0;
        transform: translateX(-100%);
        transition: transform 0.5s;

        &.show {
            transform: translateX(0);
        }

        &.show ~ &__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    &__icon {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            margin-left: 40px;
            margin-bottom: 10px;
        }
    }

    &__list {
        @extend %flex-align-center;
        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }
        @include abstracts.breakpoint(lg) {
            width: 100%;
        }
    }
    &__link {
        @extend %flex-align-center;
        gap: 6px;
        padding: 0 15px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%; /* 150% */
        }
    }
    &__arrow {
        margin-top: 3px;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            transition: opacity, visibility;
            transition-duration: 0.5s;

            background-color: rgba($color: #000000, $alpha: 0.4);
        }
    }
}

.top-act {
    margin-left: auto;
    @extend %flex-align-center;
    gap: 20px;

    @include abstracts.breakpoint(md) {
        margin-left: initial;
    }

    &__group {
        @extend %flex-align-center;
        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__btn {
        padding: 13px;
        @extend %flex-align-center;
        gap: 10px;
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--double &__btn {
        padding: 10px 20px;
    }

    &__separate {
        margin: auto 0;
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%; /* 146.667% */
    }

    &__icon {
        padding: 2px;
    }
    &__avatar {
        display: block;
        object-fit: cover;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px var(--top-act-shadow-avatar);
    }
}
