.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    background: var(--product-card-bg-filter-color);
    height: 36px;
    padding: 0 12px;
    border-radius: 6px;

    &__title {
        color: var(--product-card-filter-color);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 142.857%;
    }
}

.like-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--product-card-bg-icon);
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffb700;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
    color: #1a162e;

    + .btn {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &--text {
        background: transparent;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
        color: #9e9da8;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 999px;
    }

    &:hover {
        opacity: 0.9;
    }
}
