@use "../abstracts";

.cate-item {
    display: flex;
    height: 100%;
    padding: 20px 26px 20px 20px;
    gap: 20px;
    border-radius: 16px;
    background: var(--cate-item-bg);
    @include abstracts.screen(xl) {
        flex-direction: column;
    }
    @include abstracts.screen(md) {
        flex-direction: row;
        gap: 18px;
    }

    &__thumb {
        object-fit: contain;
        width: 116px;
        height: 116px;
        flex-shrink: 0;
        background-color: var(--cate-item-bg-thumb);
        border-radius: 8px;
        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 2.2rem;
        color: var(--cate-item-title-color);
        font-weight: 700;
        line-height: 145.455%;
        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        margin-top: 6px;
        line-height: 150%; /* 150% */
        width: 100%;
        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}
