@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    margin-top: 30px;
    padding: 30px;
    background-color: var(--filter-bg);
    border-radius: 20px;
    box-shadow: var(--filter-shadow);

    @include abstracts.screen(sm) {
        width: 85vw;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &__icon-arrow {
        height: 20px;
        position: absolute;
        top: -18px;
        right: 21px;
        filter: var(--filter-arrow-color);
    }

    &__heading {
        font-size: 22px;
        font-weight: 500;
        line-height: 145.455%;
        margin-bottom: 30px;
    }

    &__row {
        display: flex;
    }

    &__label {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            display: block;
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__form-slider {
        position: relative;
        height: 2px;
        width: 100%;
        background: #d2d1d6;
        margin: 30px 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            width: 22px;
            height: 22px;
            border: 6px solid #ffb700;
            background: var(--filter-bg);
            border-radius: 50%;
        }

        &::before {
            left: var(--min-value);
        }
        &::after {
            left: var(--max-value);
        }
    }

    &__form-group {
        margin-top: 20px;
        &--inline {
            display: flex;
            gap: 30px;
        }
    }

    &_form-text-input {
        display: flex;
        align-items: center;
        width: 121px;
        height: 36px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        overflow: hidden;

        &--large {
            width: 334px;
            height: 47px;
        }

        @include abstracts.screen(xl) {
            width: 100%;
        }
    }

    &__form-input {
        width: 100%;
        padding: 0 12px;
        background: transparent;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        &--large {
            font-size: 1.5rem;
            line-height: 22px;
            margin-bottom: 3px;
        }

        &-icon {
            margin-right: 16px;
        }

        &::placeholder {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 146.667%;
            color: #9e9da8;
        }
    }

    &__separate {
        width: 1px;
        background: #eee;
        margin: 0 30px;

        @include abstracts.screen(xl) {
            height: 1px;
            width: 100%;
            margin: 20px 0;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        padding: 5px 14px;
    }

    &__select {
        display: flex;
        align-items: center;
        width: 100%;

        &-separate {
            height: 35px;
            width: 1px;
            background: #d2d1d6;
            margin: 0 14px;
            flex-shrink: 0;
        }

        &-weight {
            font-size: 14px;
            font-weight: 500;
            line-height: 142.857%;

            &-margin {
                @include abstracts.screen(sm) {
                    margin-right: 65px;
                }
            }
        }

        &-icon {
            margin-left: 17px;

            @include abstracts.screen(xl) {
                margin-left: 100px;
            }
            @include abstracts.screen(sm) {
                margin-left: auto;
            }

            &--margin-left {
                margin-left: 65px;
                @include abstracts.screen(xl) {
                    margin-left: 100px;
                }
                @include abstracts.screen(sm) {
                    margin-left: auto;
                }
            }
        }
    }

    &__form-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @include abstracts.screen(sm) {
            gap: 8px;
        }
    }

    &__form-tag {
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--filer-tag-bg-color);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #9e9da8;

        transition: color 0.2s;

        @include abstracts.screen(sm) {
            font-weight: 400;
        }

        &:hover {
            color: var(--text-color);
        }
    }

    &__footer {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        @include abstracts.screen(xl) {
            flex-direction: column;
        }
    }
}
