@use "../abstracts";

.message {
    padding: 12px 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include abstracts.screen(md) {
        font-size: 1.4rem;
    }
    &--success {
        border: 2px solid #5bc45f;
        background: rgba(39, 243, 117, 0.2);
    }
}
